Repository arrow-kt/arrow, pull requests merged in 2018-06, with the labels that each got.

#863 [WIP] Try to improve CI build time
  .travis.yml
Labels: enhancement, work in progress

#887 Visual differentiatior in docs for `Beginner` vs `Advanced` content
  modules/docs/arrow-docs/docs/_sass/arrow.scss
  modules/docs/arrow-docs/docs/_sass/components/_badges.scss
  modules/docs/arrow-docs/docs/_sass/components/_wrapper.scss
  modules/docs/arrow-docs/docs/css/arrow.css
Labels: docs

#898 Searchbar for Arrow Docs
  modules/docs/arrow-docs/docs/_includes/_doc-wrapper.html
  modules/docs/arrow-docs/docs/_includes/_js-bottom-docs.html
  modules/docs/arrow-docs/docs/_sass/arrow.scss
  modules/docs/arrow-docs/docs/_sass/components/_doc-header.scss
  modules/docs/arrow-docs/docs/_sass/components/_dropdown.scss
  modules/docs/arrow-docs/docs/_sass/utils/_variables.scss
  modules/docs/arrow-docs/docs/css/arrow.css
  modules/docs/arrow-docs/docs/js/docsearch.min.js
  modules/docs/arrow-docs/docs/js/functions.js
Labels: docs, enhancement

#706 Reactor Integration
  README.md
  infographic/arrow-infographic.txt
  modules/docs/arrow-docs/build.gradle
  modules/docs/arrow-docs/docs/_data/menu.yml
  modules/docs/arrow-docs/docs/docs/README.md
  modules/docs/arrow-docs/docs/docs/integrations/reactor/README.md
  modules/effects/arrow-effects-reactor/build.gradle
  modules/effects/arrow-effects-reactor/gradle.properties
  modules/effects/arrow-effects-reactor/src/main/kotlin/arrow/effects/FluxK.kt
  modules/effects/arrow-effects-reactor/src/main/kotlin/arrow/effects/FluxKInstances.kt
  modules/effects/arrow-effects-reactor/src/main/kotlin/arrow/effects/MonoK.kt
  modules/effects/arrow-effects-reactor/src/main/kotlin/arrow/effects/MonoKInstances.kt
  modules/effects/arrow-effects-reactor/src/test/kotlin/arrow/effects/FluxKTests.kt
  modules/effects/arrow-effects-reactor/src/test/kotlin/arrow/effects/MonoKTests.kt
  settings.gradle
Labels: work in progress

#911 Inject method to restore scroll position after focus into searchbar
  modules/docs/arrow-docs/docs/_includes/_doc-wrapper.html
  modules/docs/arrow-docs/docs/js/functions.js
Labels: docs
