Repository arrow-kt/arrow, pull requests merged in 2018-04, with the labels that each got.

#757 Enable docs after fixing Λnk with Λrrow 0.7.0 changes
  .travis.yml
  build.gradle
  deploy-scripts/deploy_docs.sh
  modules/core/arrow-data/src/main/kotlin/arrow/data/OptionT.kt
  modules/core/arrow-data/src/test/kotlin/arrow/free/CofreeTest.kt
  modules/core/arrow-data/src/test/kotlin/arrow/instances/ComposedInstancesTest.kt
  modules/docs/arrow-docs/build.gradle
  modules/docs/arrow-docs/docs/docs/datatypes/either/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/eithert/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/kleisli/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/nonemptylist/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/option/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/optiont/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/sequencek/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/setk/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/state/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/statet/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/try/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/validated/README.md
  modules/docs/arrow-docs/docs/docs/effects/async/README.md
  modules/docs/arrow-docs/docs/docs/effects/io/README.md
  modules/docs/arrow-docs/docs/docs/integrations/kotlinxcoroutines/README.md
  modules/docs/arrow-docs/docs/docs/integrations/rx2/README.md
  modules/docs/arrow-docs/docs/docs/optics/at/README.md
  modules/docs/arrow-docs/docs/docs/optics/filterindex/README.MD
  modules/docs/arrow-docs/docs/docs/optics/fold/README.md
  modules/docs/arrow-docs/docs/docs/optics/index/README.MD
  modules/docs/arrow-docs/docs/docs/optics/lens/README.md
  modules/docs/arrow-docs/docs/docs/optics/optional/README.md
  modules/docs/arrow-docs/docs/docs/optics/prism/README.md
  modules/docs/arrow-docs/docs/docs/optics/setter/README.md
  modules/docs/arrow-docs/docs/docs/optics/traversal/README.md
  modules/docs/arrow-docs/docs/docs/patterns/errorhandling/README.md
  modules/docs/arrow-docs/docs/docs/typeclasses/applicative/README.md
  modules/docs/arrow-docs/docs/docs/typeclasses/applicativeerror/README.md
  modules/docs/arrow-docs/docs/docs/typeclasses/eq/README.md
  modules/docs/arrow-docs/docs/docs/typeclasses/functor/README.md
  modules/docs/arrow-docs/docs/docs/typeclasses/monaderror/README.md
  modules/docs/arrow-docs/docs/docs/typeclasses/monadfilter/README.md
  modules/docs/arrow-docs/docs/docs/typeclasses/monoid/README.md
  modules/docs/arrow-docs/docs/docs/typeclasses/order/README.md
  modules/docs/arrow-docs/docs/docs/typeclasses/semigroup/README.md
  modules/docs/arrow-docs/docs/docs/typeclasses/show/README.md
Labels: docs, work in progress

#762 Fix arrow instances artifact ids
  modules/core/arrow-instances-core/gradle.properties
  modules/core/arrow-instances-data/gradle.properties
Labels: bug

#763 Bump ank dependency which now includes latest 0.7 syntax changes
  .travis.yml
  build.gradle
  modules/docs/arrow-docs/build.gradle
Labels: docs

#773 Upgrade Kotlin and kotlinx.coroutines
  build.gradle
Labels: enhancement

#777 Homogenize all permalinks following an all lowercase pattern
  modules/docs/arrow-docs/docs/_data/menu.yml
  modules/docs/arrow-docs/docs/docs/datatypes/intro/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/listk/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/mapk/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/sequencek/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/setk/README.md
  modules/docs/arrow-docs/docs/docs/datatypes/sortedmapk/README.md
  modules/docs/arrow-docs/docs/docs/effects/io/README.md
  modules/docs/arrow-docs/docs/docs/optics/at/README.md
  modules/docs/arrow-docs/docs/docs/optics/filterindex/README.MD
  modules/docs/arrow-docs/docs/docs/optics/index/README.MD
  modules/docs/arrow-docs/docs/docs/patterns/glossary/README.md
  modules/docs/arrow-docs/docs/docs/typeclasses/eq/README.md
Labels: docs

#822 Renzu missing instances and simplifying the tree
  infographic/arrow-infographic.txt
  modules/core/arrow-annotations-processor/infographic/arrow-infographic.txt
  modules/core/arrow-annotations-processor/src/main/java/arrow/renzu/RenzuGenerator.kt
  modules/core/arrow-annotations-processor/src/test/resources/arrow/ap/objects/renzu/SampleUML.txt
Labels: enhancement
