Repository arrow-kt/arrow, pull requests merged in 2019-10, with the labels that each got.

#1665 Add regex to detect higherkind annotation
  modules/meta/arrow-meta-prototype/compiler-plugin/src/main/kotlin/arrow/meta/plugins/higherkind/HigherKindPlugin.kt
Labels: arrow-meta

#1667 [META] Testing plugin: initial version
  modules/meta/arrow-meta-prototype/settings.gradle
  modules/meta/arrow-meta-prototype/testing-plugin/build.gradle
  modules/meta/arrow-meta-prototype/testing-plugin/src/main/kotlin/arrow/meta/plugin/testing/Compilation.kt
  modules/meta/arrow-meta-prototype/testing-plugin/src/test/kotlin/arrow/meta/plugin/testing/CompilationTest.kt
  modules/meta/arrow-meta-prototype/testing-plugin/src/test/resources/Example.kt.meta
  modules/meta/arrow-meta-prototype/testing-plugin/src/test/resources/Example.kt.source
Labels: arrow-meta

#1672 Fix: change dependency of testing library
  modules/meta/arrow-meta-prototype/testing-plugin/build.gradle
Labels: arrow-meta

#1677 Modify Russian links text on docs
  modules/docs/arrow-docs/docs/docs/arrow/core/either/README.md
  modules/docs/arrow-docs/docs/docs/arrow/core/either/ru/README.md
  modules/docs/arrow-docs/docs/docs/arrow/core/id/README.md
  modules/docs/arrow-docs/docs/docs/arrow/core/id/ru/README.md
  modules/docs/arrow-docs/docs/docs/arrow/core/option/README.md
  modules/docs/arrow-docs/docs/docs/arrow/core/option/ru/README.md
  modules/docs/arrow-docs/docs/docs/arrow/core/try/README.md
  modules/docs/arrow-docs/docs/docs/arrow/core/try/ru/README.md
  modules/docs/arrow-docs/docs/docs/patterns/typeclasspolymorphism/README.md
  modules/docs/arrow-docs/docs/docs/patterns/typeclasspolymorphism/ru/README.md
Labels: docs, web

#1676 [META] Small fixes
  modules/meta/arrow-meta-prototype/compiler-plugin/src/main/kotlin/kastree/ast/Node.kt
  modules/meta/arrow-meta-prototype/compiler-plugin/src/main/kotlin/kastree/ast/psi/Converter.kt
  modules/meta/arrow-meta-prototype/testing-plugin/src/main/kotlin/arrow/meta/plugin/testing/Compilation.kt
Labels: arrow-meta

#1658 Integrating Ide dsl
  modules/ank/arrow-ank/src/main/kotlin/arrow/ank/ank.kt
  modules/meta/arrow-meta-prototype/compiler-plugin/src/main/kotlin/arrow/meta/dsl/platform/Platform.kt
  modules/meta/arrow-meta-prototype/compiler-plugin/src/main/kotlin/arrow/meta/internal/Noop.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/IdeSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/action/AnActionSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/color/ColorSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/hints/HintingSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/icon/IconProviderSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/inspection/InspectionSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/inspection/InspectionUtilitySyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/intention/IntentionExtensionProviderSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/language/LanguageSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/languageInjection/LanguageInjectionSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/lineMarker/LineMarkerSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/liveTemplate/LiveTemplateSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/navigation/NavigationSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/quickFix/QuickFixSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/quickFix/QuickFixUtilitySyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/refactoring/RefactoringSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/search/SearchSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/structureView/StructureViewSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/syntaxHighlighter/SyntaxHighlighterExtensionProviderSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/editor/usage/UsageSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/extensions/ExtensionProviderSyntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/dsl/ide/feature1/Feature1Syntax.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/plugin/idea/IdeMetaPlugin.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/plugin/idea/phases/editor/AnActionExtensionProvider.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/plugin/idea/phases/editor/ExtensionProvider.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/plugin/idea/phases/editor/IntentionExtensionProvider.kt
Labels: arrow-meta-ide-plugin

#1680 [META] Comprehensions testing
  modules/meta/arrow-meta-prototype/build.gradle
  modules/meta/arrow-meta-prototype/compiler-plugin/build.gradle
  modules/meta/arrow-meta-prototype/compiler-plugin/src/main/kotlin/arrow/meta/plugins/comprehensions/ComprehensionsPlugin.kt
  modules/meta/arrow-meta-prototype/compiler-plugin/src/test/kotlin/arrow/meta/plugins/comprehensions/ComprehensionsTest.kt
  modules/meta/arrow-meta-prototype/compiler-plugin/src/test/kotlin/arrow/meta/plugins/higherkind/HigherkindTest.kt
  modules/meta/arrow-meta-prototype/testing-plugin/build.gradle
  modules/meta/arrow-meta-prototype/testing-plugin/src/main/kotlin/arrow/meta/plugin/testing/Compilation.kt
  modules/meta/arrow-meta-prototype/testing-plugin/src/test/kotlin/arrow/meta/plugin/testing/CompilationTest.kt
Labels: arrow-meta

#1689 Add a link to the frdomain.kt project
  modules/docs/arrow-docs/docs/docs/quickstart/projects/README.md
Labels: docs, web

#1697 Clean up and improve fragment provider update handling
  modules/meta/arrow-meta-prototype/README.md
  modules/meta/arrow-meta-prototype/idea-plugin/build.gradle
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/plugin/idea/MetaPluginRegistrarComponent.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/plugin/idea/phases/resolve/DiagnosticSuppressor.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/plugin/idea/phases/resolve/FragmentProviderComponent.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/plugin/idea/phases/resolve/MetaSyntheticPackageFragmentProvider.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/kotlin/arrow/meta/plugin/idea/phases/resolve/package.kt
  modules/meta/arrow-meta-prototype/idea-plugin/src/main/resources/META-INF/plugin.xml
Labels: arrow-meta-ide-plugin

#1748 Fix typo and replace compile with implementation in various md files
  .gitignore
  README.md
  modules/docs/arrow-docs/docs/docs/generic/product/README.md
  modules/docs/arrow-docs/docs/docs/quickstart/libraries/README.md
  modules/docs/arrow-docs/docs/docs/quickstart/setup/README.md
Labels: docs
