Repository arrow-kt/arrow, pull requests merged in 2019-03, with the labels that each got.

#1354 Add info about a possible error
  modules/docs/arrow-docs/README.md
Labels: docs

#1360 Docs Arrow version selector
  modules/docs/arrow-docs/Gemfile.lock
  modules/docs/arrow-docs/docs/_data/commons.yml
  modules/docs/arrow-docs/docs/_data/doc-versions.yml
  modules/docs/arrow-docs/docs/_data/menu.yml
  modules/docs/arrow-docs/docs/_includes/_head.html
  modules/docs/arrow-docs/docs/_includes/_header.html
  modules/docs/arrow-docs/docs/_includes/_home-doc-versions.html
  modules/docs/arrow-docs/docs/_includes/_nav.html
  modules/docs/arrow-docs/docs/_includes/_navigation-doc-versions.html
  modules/docs/arrow-docs/docs/_includes/_sidebar-doc-versions.html
  modules/docs/arrow-docs/docs/_includes/_sidebar-wrapper.html
  modules/docs/arrow-docs/docs/_includes/_top-version-warning.html
  modules/docs/arrow-docs/docs/_layouts/docs.html
  modules/docs/arrow-docs/docs/_layouts/home.html
  modules/docs/arrow-docs/docs/_sass/base/_global.scss
  modules/docs/arrow-docs/docs/_sass/components/_doc-body.scss
  modules/docs/arrow-docs/docs/_sass/components/_features.scss
  modules/docs/arrow-docs/docs/_sass/components/_masthead.scss
  modules/docs/arrow-docs/docs/_sass/components/_navigation.scss
  modules/docs/arrow-docs/docs/_sass/components/_sidebar-nav.scss
  modules/docs/arrow-docs/docs/_sass/components/_top-warning.scss
  modules/docs/arrow-docs/docs/_sass/components/_wrapper.scss
  modules/docs/arrow-docs/docs/_sass/utils/_variables.scss
  modules/docs/arrow-docs/docs/css/arrow.scss
  modules/docs/arrow-docs/docs/img/close.svg
  modules/docs/arrow-docs/docs/js/docVersions.js
Labels: docs

#1313 Fixes for FX docs
  modules/docs/arrow-docs/docs/docs/effects/fx/README.md
  modules/docs/arrow-docs/docs/docs/effects/fx/async/README.md
  modules/docs/arrow-docs/docs/docs/effects/fx/polymorphism/README.md
Labels: docs, enhancement

#1368 Add Immutable Conversations video entry to the blog
  modules/docs/arrow-docs/docs/_posts/2018-10-05-kotlin-conf-fp-in-kotlin-with-arrow.md
  modules/docs/arrow-docs/docs/_posts/2019-02-10-imperative-functional-programming-arrow.md
  modules/docs/arrow-docs/docs/_posts/2019-03-12-immutable-conv-1.md
  modules/docs/arrow-docs/docs/_sass/components/_navigation.scss
  modules/docs/arrow-docs/docs/_sass/components/_wrapper.scss
Labels: blog, docs

#1375 Fix safari close navigation dropdown
  modules/docs/arrow-docs/docs/_includes/_navigation-doc-versions.html
Labels: docs
