Repository arrow-kt/arrow, pull requests merged in 2022-12, with the labels that each got.

#2854 Add CountDownLatch
  arrow-libs/fx/arrow-fx-coroutines/api/arrow-fx-coroutines.api
  arrow-libs/fx/arrow-fx-coroutines/src/commonMain/kotlin/arrow/fx/coroutines/CountDownLatch.kt
  arrow-libs/fx/arrow-fx-coroutines/src/commonTest/kotlin/arrow/fx/coroutines/CountDownLatchSpec.kt
Labels: arrow-fx

#2857 Add CyclicBarrier
  arrow-libs/fx/arrow-fx-coroutines/api/arrow-fx-coroutines.api
  arrow-libs/fx/arrow-fx-coroutines/src/commonMain/kotlin/arrow/fx/coroutines/CountDownLatch.kt
  arrow-libs/fx/arrow-fx-coroutines/src/commonMain/kotlin/arrow/fx/coroutines/CyclicBarrier.kt
  arrow-libs/fx/arrow-fx-coroutines/src/commonTest/kotlin/arrow/fx/coroutines/CyclicBarrierSpec.kt
Labels: arrow-fx

#2793 Setup Kover as test coverage tool
  .github/workflows/pull_request.yml
  arrow-libs/gradle/test-coverage.gradle
  build.gradle.kts
  gradle/libs.versions.toml
Labels: enhancement

#2871 Publish Arrow 2.0.0-SNAPSHOT
  .github/workflows/publish.yml
  build.gradle.kts
  gradle.properties
Labels: 2.0.0
